<div class="wrapper">
    <section class="cards">
        <h2>Our Products</h2>
        <div class="sort">
            <div class="nav-linkscard">
                <h4>All</h4>
                <h4>Boys Fashion</h4>
                <h4>Girls Fashion</h4>
                <h4>Accessories</h4>
            </div>
        </div>
        
        <div class="sort" style="margin: 25px 0;">
            <input type="button" value="По убыванию" class="btn orange" onclick="sortCards('DOWN')">
            <input type="button" value="По возрастаню" class="btn orange" onclick="sortCards('UP')">
            <input type="button" value="По умолчанию" class="btn orange" onclick="sortCards('default')">
     
        </div>
        
        <div class="container">
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/Scarf.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$10.00</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$20.00</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$30.00</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$40.00</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$50.00</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$30.00</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$30.00</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$30.00</p>
                </div>
            </div>
            <div class="card">
                <div class="cover">
                    <img src="./assets/img/t-shirt.png" alt="">
                    <div class="circle"></div>
                </div>
                <div class="card-content">
                    <h4>The Frog T-Shirt</h4>
                    <p class="price">$30.00</p>
                </div>
            </div>
        </div>
        <div class="container-btn">
            <input type="button" value="view all products" class="btn orange">
        </div>
    </section>
</div>
